#project-gallery {
    margin-top: 1rem;
    display: grid;
    gap: 1rem;
}

.project-link {
    display: inline-block;
    padding: 1rem;
    background-image: linear-gradient(45deg, var(--purple3), var(--purple1));
    border-radius: 1rem 2rem;
}

.project-link h3 {
    color: white;
}

.project {

}

.project h2 {
    text-align: center;
}

.project .concepts {
    text-align: center;
}

.card {
    border: 1px solid var(--purple3);
    padding: .5rem;
    border-radius: 1rem .5rem;
    margin: 1rem;
}

.project .screenshot {
    border: 1px solid var(--pink1);
}

.project .screenshot img {
    max-width: 100%;
}