.container {
    width: 1000px;
    max-width: 95%;
    margin: auto;
}

.inner-container {
    width: 600px;
    max-width: 100%;
    margin: auto;
}

.desktop-only {
    display: none;
}

@media screen and (min-width: 600px) {
    .desktop-only {
        display: initial;
    }

    .mobile-only {
        display: none;
    }

    .intro h2, .intro h3 {
        font-size: 2em;
    }
}